@{
    ViewData["Title"] = "Welcome";
    
    
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@ViewData["Message"]</p>
    <p>@ViewData["NumTimes"]</p>
    <p>
        @for (int i = 0; i < (int)@ViewData["NumTimes"]; i++)
        {
        <p>@ViewData["Message"]</p>
        }

    </p>
</div>
